dj-database-url==0.4.0
Django==1.9.2
Flask==0.10
Flask-SQLAlchemy==2.1
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
kik==1.0.7
MarkupSafe==0.23
messengerbot==0.1.4
psycopg2==2.6.1
requests==2.10.0
simplejson==3.8.2
six==1.10.0
SQLAlchemy==1.0.12
Werkzeug==0.11.9
whitenoise==2.0.6
wit==3.4.1

